@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Raleway:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  body {
    font-family: "Bai Jamjuree", sans-serif;
  }
  
:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
}

.hero{
    height: 100vh;
    width: 100%;
    background: url(../images/bg-header-mobile.png) no-repeat;
}

@media (min-width: 1115px){
  .hero{
    background: url(../images/bg-header-desktop.png) no-repeat;
}
}

.inicio{
    padding-top: 124px;
    text-align: center;
}

.inicio h3{
    color: rgb(63, 62, 62);
    font-size: 1.8rem;
    width: 300px;
    margin-left: 40px;
    padding-top: 75px;
}

@media (min-width: 1115px){
  .inicio h3{
    margin: 0px;
    color: rgb(63, 62, 62);
    font-size: 1.8rem;
    padding-top: 75px;
    width: 100%;
}
}

.inicio p{
  color: rgb(184, 181, 181);
  margin-top: 30px;
  line-height: 1.8;
}

@media (min-width: 1115px){
  .inicio p{
    color: rgb(184, 181, 181);
    margin-top: 30px;
    line-height: 1.8;
    width: 100%;
    padding-left: 310px;
    padding-right: 310px;
  }
}


    

.botones{
    padding: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

}

@media (min-width: 1115px){
  .botones{
    padding: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}


.boton-verde {
    font-size: 1.1em;
    margin-bottom: 25px;
    min-width: 130px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 50px;
    border: none;
    background: var(--strong-cyan);
    box-shadow: 0 5px hsl(171, 66%, 33%);
  }
  .boton-verde:hover {
    box-shadow: 0 3px #57cc99;
    top: 1px;
  }
  .boton-verde:active {
    box-shadow: 0 0 #57cc99;
    top: 5px;
  }

  @media (min-width: 1115px){
  .boton-verde {
    width: 230px;
    margin-right: 20px;
  }
}

  .boton-azul {
    font-size: 1.1em;
    min-width: 130px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 50px;
    border: none;
    background: var(--light-blue);
    box-shadow: 0 5px hsl(233, 44%, 42%);
  }
  .boton-azul:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
  }
  .boton-azul:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }

  @media (min-width: 1115px){
  .boton-azul {
       width: 230px;
  }
}


  .titulo{
    padding-top: 270px;
    text-align: center;
  }

  @media (min-width: 1115px){
  .titulo{
    padding-top: 140px;
    text-align: center;
  }
}

  .titulo-1 h3{
    color: rgb(63, 62, 62);
    font-size: 1.8rem;
    width: 300px;
    margin-left: 40px;
    padding-top: 75px;
  }

   @media (min-width: 1115px){
  .titulo-1 h3{
    width: 100%;
    margin-left: 0px;
    padding-top: 75px;
  }
}

  .titulo-1 p{
        color: rgb(184, 181, 181);
        margin-top: 30px;
        line-height: 1.8;
        padding-left: 55px;
        width: 340px;
  }

  @media (min-width: 1115px){
  .titulo-1 p{
        margin-top: 30px;
        padding-left: 55px;
        width: 100%;
        padding-left: 250px;
        padding-right: 250px;
  }
}

@media (min-width: 1115px){
  .container{
        display: flex;
  }
}



  .compu{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
  }
  
  .compu img{
    width: 312px;
  }
  
  @media (min-width: 1115px){
    .compu img{
         width: 100%;
         margin-left: -60px;
    }
  }

  .compu2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .compu2 img{
    width: 310px;
  }

  @media (min-width: 1115px){
    .compu2 img{
      width: 810px;
    }
  }


  .parrafo{
    text-align: center;
  }

  @media (min-width: 1115px){
    .parrafo{
         text-align: left;
    }
  }

  .parrafo h3{
    color: rgb(63, 62, 62);
    font-size: 1.5rem;
    padding-top: 75px;
  }

  .parrafo p{
        color: rgb(184, 181, 181);
        margin-top: 10px;
        line-height: 1.8;
        padding-left: 40px;
        padding-right: 40px;
  }

  @media (min-width: 1115px){
    .parrafo p{
      width: 340px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .titulo2{
    padding-top: 120px;
    text-align: center;
  }

  .titulo3{
    padding-top: 15px;
    text-align: center;
  }

  .caracteristicas{
    text-align: center;
    padding-top: 65px;
  }

  @media (min-width: 1115px){
    .caracteristicas{
      display: flex;
  }
}

  .caracteristica{
    margin-top: 50px;
  }

  .caracteristica h3{
    color: rgb(63, 62, 62);
    font-size: 1.5rem;
  }

  .caracteristica p{
        color: rgb(184, 181, 181);
        margin-top: 10px;
        line-height: 1.8;
        padding-left: 40px;
        padding-right: 40px;
  }

  .caracteristica img{
    padding-bottom: 50px;
  }

  .logos{
    text-align: center;
    padding-top: 135px;
  }

  @media (min-width: 1115px){
    .logos{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }
}

  .log {
    padding-bottom: 70px;
  }

  footer{
    background-color: rgb(245, 246, 248);
  }

  @media (min-width: 1115px){
    .pie{
      display: flex;
      justify-content: space-between;
      padding-left: 100px;
      padding-top: 50px;
      padding-right: 100px;
    }
}

 
  .logo-footer{
    text-align: center;
    padding-top: 50px;
  }

  .logo-footer img{
    width: 50px;
  }

  .nav-footer{
    text-align: center;
  }

  @media (min-width: 1115px){
    .nav-footer{
      display: flex;
      padding-left: 60px;
    }
}

  .nav-footer div{
    margin: 40px 0px 40px 0px;
  }

  @media (min-width: 1115px){
    .nav-footer div{
      margin: 0px 50px 0px 50px;
      
    }
}


  .nav-footer div ul li{
    margin: 40px 0px 40px 0px;
    list-style-type: none;
    cursor: pointer;
  }

  @media (min-width: 1115px){
    .nav-footer div ul li{
      text-align: left;
      white-space: nowrap;
    }

    .nav-footer div ul li:hover{
      color: var(--strong-cyan);
    }
}


  .social-media{
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 50px;
  }

  @media (min-width: 1115px){
    .social-media{
      margin-top: 65px;
      padding-left: 20px;
      padding-right: 0px;
    }

}


  .social-media ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1115px){
    .social-media ul li{
      padding: 0px 20px 0px 20px;
      cursor: pointer;
    }
     
    
  
}

@media (min-width: 1115px){
  
  .icono-media img{
    position: absolute;
    transition: opacity 0.5s ease-in-out;
  }

  .icono-media img.top:hover{
    opacity: 0;
  }
  

}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

